@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.dark-theme {
  --clr-bcg: #040410;
  --clr-font: #dddce5;
  /* --clr-primary: #ffa7c4; */
}
.light-theme {
  --clr-bcg: #dddce5;
  --clr-font: #040410;
  /* --clr-primary: #ffa7c4; */
}
body {
  background-color: var(--clr-bcg);
  color: var(--clr-font);
}
.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.image {
  width: 100%;
  height: 75%;
}
